/*csslint adjoining-classes: false, ids: false, important: false*/

.content {
    background: #3a496c;
}

.divider {
    background: #121e37;
    height: 120px;
    text-align: center;
}

.footer {
    background: #1f2d4c;
    height: 200px;
    text-align: center;
}

.footer .logo {
    width: 400px;
}