/*csslint adjoining-classes: false, ids: false, important: false*/

html {
    background: url('../img/stars.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
